<template>
  <div>
    <div class="sticky-top d-flex justify-content-end pt-2 px-5">
      <b-button @click="logout">
        Logout
      </b-button>
    </div>
    <Nuxt />
  </div>
</template>

<script>
import { BButton } from 'bootstrap-vue'
import { logout } from '../utils/auth'

export default {
  components: {
    BButton
  },
  methods: {
    logout
  }
}
</script>
