<template>
  <div class="pt-5 h-100">
    <b-container class="h-100 align-items-center justify-content-center">
      <b-row class="justify-content-center align-items-center">
        <b-col md="6" sm="8">
          <b-form-input v-model="search_text" placeholder="Search books" @input="lazySearch" />
        </b-col>
        <b-col sm="2">
          <b-button variant="primary" @click="searchClick">
            Search
          </b-button>
        </b-col>
        <b-col sm="12" class="mt-5">
          <b-card>
            <b-table small striped sticky-header="54vh" :items="books" :fields="columns">
              <template #cell(thumbnail)="props">
                <div style="width: 100px">
                  <b-img class="w-100" :src="props.item.volumeInfo?.imageLinks?.smallThumbnail" />
                </div>
              </template>
              <template #cell(author)="props">
                <div class="">
                  <b-badge v-for="(author, index) in props.item.volumeInfo?.authors" :key="index" class="mr-1 text-white" variant="warning">
                    {{ author }}
                  </b-badge>
                </div>
              </template>
              <template #cell(title)="props">
                <div class="">
                  {{ props.item.volumeInfo.title }}
                </div>
              </template>
            </b-table>
            <div v-if="books_count" class="d-flex justify-content-between align-items-center flex-wrap mx-2 mb-75">
              <div class="d-flex align-items-center mb-0 mt-1">
                <b-form-select v-model="page_length" :options="[10, 20, 40]" class="mx-1" @input="changePerPage" />
                <span class="text-nowrap">
                  {{ current_page * page_length - page_length + 1 }}-{{ current_page * page_length }} ( {{ books_count }} )
                </span>
              </div>
              <div>
                <b-pagination
                  v-model="current_page"
                  :value="1"
                  :total-rows="books_count"
                  :per-page="10"
                  first-number
                  last-number
                  align="right"
                  prev-class="prev-item"
                  next-class="next-item"
                  class="mt-1 mb-0"
                  @change="changePage"
                />
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { BButton, BFormInput, BCard, BRow, BCol, BContainer, BTable, BPagination, BImg } from 'bootstrap-vue'
import { mapActions, mapState, mapMutations } from 'vuex'

export default {
  components: {
    BCard,
    BButton,
    BFormInput,
    BRow,
    BCol,
    BContainer,
    BTable,
    BPagination,
    BImg
  },
  layout: 'main',
  middleware: ['main'],
  async asyncData ({ store, route, error }) {
    try {
      const query = {
        q: route.query?.q,
        maxResults: route.query?.perPage,
        startIndex: route.query?.page ? (route.query?.page - 1) * route.query?.perPage || 10 : undefined
      }
      if (route.query.q) {
        await store.dispatch('books/SEARCH_BOOKS', query)
        return { text: route.query?.q, page: route.query?.page || 1, per_page: route.query?.perPage || 10 }
      }
    } catch (err) {
      error(err)
    }
  },
  data () {
    return {
      search_text: '',
      current_page: this.page,
      timeout: 500,
      items: [],
      page_length: '10',
      columns: [
        {
          key: 'thumbnail',
          label: 'Thumbnail'
        },
        {
          key: 'title',
          label: 'Title'
        },
        {
          key: 'author',
          label: 'Author'
        }
      ]
    }
  },
  computed: {
    ...mapState('books', ['books_count', 'books'])
  },
  beforeMount () {
    this.search_text = this.$route.query?.q
    this.current_page = this.page || 1
    this.page_length = this.per_page || 10
  },
  beforeDestroy () {
    this.SET_BOOKS([])
    this.SET_BOOKS_COUNT(0)
  },
  methods: {
    ...mapActions('books', ['SEARCH_BOOKS']),
    ...mapMutations('books', ['SET_BOOKS', 'SET_BOOKS_COUNT']),
    searchClick () {
      this.searchBooks()
    },
    lazySearch (txt) {
      this.search_text = txt
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.searchBooks()
      }, 500)
    },
    searchBooks () {
      if (this.search_text) {
        this.SEARCH_BOOKS({ q: this.search_text }).then(() => {
          this.current_page = 1
          this.$router.push({ name: this.$route.name, query: { ...this.$route.query, q: this.search_text } })
        })
      }
      // searchVolumes({ q: this.search_text }).then((res) => {
      //   console.log(res)
      //   // this.items = res
      // })
    },
    changePage (page) {
      const startIndex = (page - 1) * this.page_length
      this.SEARCH_BOOKS({ q: this.search_text, maxResults: this.page_length, startIndex }).then(() => {
        this.$router.push({ name: this.$route.name, query: { ...this.$route.query, page: this.current_page } })
      })
    },
    changePerPage () {
      this.SEARCH_BOOKS({ q: this.search_text, maxResults: this.page_length }).then(() => {
        this.$router.push({ name: this.$route.name, query: { ...this.$route.query, perPage: this.page_length } })
      })
    }
  }
}

</script>

<style>

</style>
