<template>
  <div class="pt-5 h-100">
    <b-container class="h-100">
      <b-row class="h-100 align-items-center justify-content-center">
        <br>
        <b-col md="6" sm="8">
          <b-card>
            <b-form @submit.prevent="onSubmit" @reset="onReset">
              <b-form-group
                id="input-group-1"
                label="Username token:"
                label-for="input-1"
                description="16-character username token"
              >
                <b-form-input
                  id="input-1"
                  v-model="login_form.token"
                  type="text"
                  placeholder="Enter token"
                  required
                  :maxlength="16"
                  :state="input_state"
                  @input="tokenInput"
                />
              </b-form-group>
              <b-button type="submit" variant="primary">
                Submit
              </b-button>
              <b-button type="reset" variant="danger">
                Reset
              </b-button>
            </b-form>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { BButton, BForm, BFormInput, BFormGroup, BCard, BRow, BCol } from 'bootstrap-vue'
import { login } from '../utils/auth'

export default {
  components: {
    BCard,
    BButton,
    BForm,
    BFormInput,
    BFormGroup,
    BRow,
    BCol
  },
  data () {
    return {
      login_form: {
        token: ''
      },
      timeout: 3000,
      input_state: null
    }
  },
  computed: {
  },
  methods: {
    tokenInput (newVal) {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.validateInput()
      }, 3000)
    },
    validateInput () {
      if (this.login_form.token.match(/[^a-zA-Z]/g)) {
        this.input_state = false
        this.$bvToast.toast("You can't use numbers or special characters or cyrillic letters", {
          title: 'Validation error',
          autoHideDelay: 3000,
          variant: 'danger'
        })
        return false
      } else if (this.login_form.token.length !== 16) {
        this.input_state = false
        this.$bvToast.toast('Token must consist of 16 letters', {
          title: 'Validation error',
          autoHideDelay: 3000,
          variant: 'danger'
        })
        return false
      } else {
        this.input_state = true
        return true
      }
    },
    onSubmit () {
      clearTimeout(this.timeout)
      if (this.validateInput()) {
        if (login(this.login_form.token)) {
          this.$router.push('/')
        }
      }
    },
    onReset () {
      this.login_form.token = ''
      this.input_state = null
    }
  }
}

</script>

<style>

</style>
